.owl-carousel .item{
 /* border: 1px solid black; */
 font-size: 18px;
 text-align: center;
 margin-top: 24px;;
}

.owl-next{
 float:right;
}
.owl-prev{
 float:left;
}
.owl-prev span{
 font-size: 18px;
 font-weight: bold;
}
.owl-next span{
 font-size: 18px;
 font-weight: bold;
}

