{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container my-5">
  <div class="row">
    <div class="col-sm-2">
      <div class="list-group">
        <a href="{% url 'bottomwear' %}" class="list-group-item list-group-item-action" aria-current="true">All Bottom Wears</a>
        <a href="{% url 'bottomweardata' 'WRANGLER' %}" class="list-group-item list-group-item-action" aria-current="true"> WRANGLER</a>
        <a href="{% url 'bottomweardata' 'InkastDenim' %}" class="list-group-item list-group-item-action" aria-current="true"> Inkast Denim Co.</a>
      </div>
    </div>
    <div class="col-sm-10">
      <div class="row">
        {% for bw in bottomwears %}
        <div class="col-sm-4 text-center mb-4">
          <a href="{% url 'product-detail' bw.id %}" class="btn">
            <div class="item">
              <img src="{{bw.product_image.url}}" alt="" height="300" class="">
              <div class="fw-bold">{{tp.title}}</div>
              <div class="fw-bold">Rs. {{bw.discounted_price}} <small class="fw-light text-decoration-line-through">{{bw.selling_price}}</small></div>
            </div>
          </a>  
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock main-content %}
